.App {
  text-align: center;
}

.project-showcase {
  display: flex;
  flex-wrap: wrap;
  margin: 2rem;
  justify-content: space-evenly;
  .project-item {
    width: 40%;
    margin: 1rem;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid lightblue;
  }
  img {
    display: block;
    width: 300px;
    height: auto;
    padding: 5px;
    margin: 10px auto;
  }
}
